{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <i class="fas fa-exclamation-circle fa-4x text-danger"></i>
                <h1 class="logo-font mt-5">404</h1>
                <h5 class="text-muted mt-3">The page you were looking for could not be found.</h5>
                <a href="{% url 'products' %}" class="btn btn-danger rounded mt-3">Return To Shop</a>
            </div>
        </div>
    </div>
{% endblock %}