<!-- Footer -->
<footer class="page-footer font-small bg-dark pt-4">

  <!-- Footer Elements -->
  <div class="container">

    <!--Grid row-->
    <div class="row">

      <!--Grid column-->
      <div class="col-md-6 mb-4">
        <div class="col-12 col-md-6 text-white">
           <h3>Social</h3>
           <p>Keep up to date with all our latest offers</p>
           <a href="https://www.facebook.com/people/Gamerhood/100089036690588/" target="_blank"><i class="fab fa-facebook-square"></i> Follow us on Facebook!</a>
        </div>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <div class="col-md-6 mb-4 text-white">
        <h2>Subscribe!</h2>
        <p>Get exclusive offers and discount codes by subscribing to our monthly newsletter</p>
        <form class="input-group">
          <input type="text" class="form-control form-control-sm" placeholder="Your email"
            aria-label="Your email" aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-sm text-white btn-outline-light my-0" type="button">Sign up</button>
          </div>
        </form>

      </div>
      <!--Grid column-->

    </div>
    <!--Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center bg-black py-3 text-white">© 2023 Copyright:
    <a href="https://www.linkedin.com/in/fpatrickerick/"> Erick Patrick</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->